[submodule "SDL"]
	path = src/extern/SDL
	url = https://github.com/libsdl-org/SDL.git
	ignore = untracked
[submodule "stb"]
	path = src/extern/stb
	url = https://github.com/nothings/stb.git
	ignore = untracked
[submodule "tinyobjloader-c"]
	path = src/extern/tol
	url = https://github.com/syoyo/tinyobjloader-c.git
	ignore = untracked
